<config><devices><device id="1" name="test1"><paths><coordinates latitude="1" longitude="1" height="1" /><coordinates latitude="2" longitude="2" height="2" /></paths></device><device id="2" name="test2"><paths><coordinates latitude="1" longitude="1" height="2" /><coordinates latitude="2" longitude="1" height="1" /></paths></device><device id="3" name="test3"><paths><coordinates latitude="2" longitude="2" height="2" /><coordinates latitude="3" longitude="3" height="3" /></paths></device></devices><simulation_params /></config>